@charset "utf-8";
.scroll-xy {
    overflow: auto;
    width:100%;
    max-height: 400px;
    min-height: 300px;
}
.scroll-x {
    overflow-x: auto;
    width: 100%;
}
.scroll-y {
    overflow-y: auto;
    height:350px;
}
.scroll-y2 {
    overflow-y: auto;
    height:250px;
}
.scroll_popup-y {
    overflow-y: auto;
    height:400px;
}
/*LOADING*/
#popup_load {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    z-index: 9999;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    top: 0;
    left: 0;
    display: none;
}

.window_load {
    width:60%;
    height:auto;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
}

.load_tabel{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.load_tabel_poli{
    z-index: 9999;
    position: absolute;
    left: 40%;
    top: 40%;
    display: none;
}

.load_tabel_dokter{
    z-index: 9999;
    position: absolute;
    left: 40%;
    top: 40%;
    display: none;
}

.load_tabel_asuransi{
    z-index: 9999;
    position: absolute;
    left: 40%;
    top: 40%;
    display: none;
}

.loading_tabel_tdk{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_dg{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_lab{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_rsp{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_ka{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_vis{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_kmr{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_bed{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

.loading_tabel_dok{
    z-index: 9999;
    position: absolute;
    left: 45%;
    top: 40%;
    display: none;
}

#popup_hapus_bed {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.window_hapus_bed {
    width:50%;
    height:auto;
    position: relative;
    padding: 10px;
    margin: 2% auto;
    background-color: #fff;
}

#popup_hapus_lemari {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,.7);
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.window_hapus_lemari {
    width:50%;
    height:auto;
    position: relative;
    padding: 10px;
    margin: 2% auto;
    background-color: #fff;
}

#popup_portal {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000;
    z-index: 9999;
    opacity:0.8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
    top: 0;
    left: 0;
    display: none;
}

.window_portal {
    width:60%;
    height:auto;
    border-radius: 3px;
    position: relative;
    padding: 10px;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    background-color: #fff;
}

.table-hover2{
    margin-top: 20px;
}

.table-hover2 thead{
    background: #4DC47D;
}

.table-hover2 thead tr th{
    color: #FFF;
}


/*TABLET*/
@media only screen and (max-width: 1024px) {
    .window_load{
        /*width:100%;*/
        top: 15%;
    }

    .window_hapus{
        width:100%;
    }

    .window_hapus_bed{
        width:100%;
    }

    .window_hapus_lemari{
        width:100%;
    }

    .window_portal{
        width:100%;
        margin-left: 5px;
        width: 90%;
        margin-top: 10%;
    }
}

/*MOBILE*/
@media only screen and (max-width: 640px) {
    .window_load{
        /*width:100%;*/
        top: 30%;
    }

    .window_hapus{
        width:100%;
    }

    .window_hapus_bed{
        width:100%;
    }

    .window_hapus_lemari{
        width:100%;
    }

    .window_portal{
        width:100%;
        margin-left: 5px;
        width: 90%;
        margin-top: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .window_load{
        /*width:100%;*/
        top: 25%;
    }

    .window_hapus{
        width:100%;
    }

    .window_hapus_bed{
        width:100%;
    }

    .window_hapus_lemari{
        width:100%;
    }

    .window_portal{
        width:100%;
        margin-left: 5px;
        width: 90%;
        margin-top: 10%;
    }
}