.merah{
	background-color: #e04646;
}

.biru{
	background-color: #2292a7;
}

.hijau{
	background-color: #49a942;
}

.kuning{
	background-color: #f9e498;
}

.pink{
	background-color: #e20074;
}

.abu{
	background-color: #caccd1;
	font-weight: bold;
}

.deezer_hj{
	background-color: #ebffac;
}

/*POPUP*/
.merah_popup{
	background-color: #f65a5b;
}

.kuning_popup{
	background-color: #fbb034;
}

.hijau_popup{
	background-color: #49a942;
}

.biru_popup{
	background-color: #428bca;
}

/*TABEL*/
.merah_tr{
	background-color: #FFE4C4;
}

.kuning_tr{
	background-color: #fbb034;
}

.abu_tr{
	background-color: #f2f6fa;
}

.terpakai{
	background-color: #f4f8fb;
}

.hijau_stt_pindah{
	background-color: #c0de9e;
}

.biru_stt_pindah{
	background-color: #cee3f8;
}